
.header {
    width: 100vw;
    height: 80px;
    grid-row: 1;
    grid-column: 1;

    display: grid;
    grid-template-rows: 80px;
    grid-template-columns: 200px 200px calc(100vw - 600px) 200px;
    align-items: center;
}

.header h1{
    grid-row: 1;
    grid-column: 1;
}

.links{
    grid-row: 1;
    grid-column: 2;
    display: flex;
    align-items: center;
    gap: 5px;
}

.login{
    grid-column: 4;
    justify-self: right;
    margin-right: 5px;
}

.login_modal{
    width: 500px;
    height: 500px;
    background-color: white;
    position: absolute;
    top: 10%;
    left: 31%;
    padding: 50px 50px;
}

.login_modal form{
    
}